.appWrapper {
    background-color: rgb(29,161,242);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
.TodoItem_item {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    color: black;
    background-color: rgb(163, 216, 241);
}
